@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url(anims.css);

*{
    padding: 0;
    margin: 0;
}

canvas { /*blurry canvas fix*/
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
  }

h1{
    font-family: 'MedievalSharp', cursive;
    font-size: 8vh;
}

.center_content{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.span_whole_vp{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left:0;
}

.span_whole{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
}

.floats{
    animation:space_float 2s alternate ease-in-out infinite;
}

